/* Define keyframe for background gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Define keyframe for logo entry from left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Define keyframe for text entry from right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Define keyframe for expanding and fading out */
@keyframes expandFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Apply animation for background gradient */
.animated-background {
  background: linear-gradient(270deg, #562ee7, #5777e1, #1599d1, #42a5f5);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
}

/* Apply animation for logo entry */
.logo-enter {
  animation: slideInFromLeft 1s forwards;
}

/* Apply animation for text entry */
.text-enter {
  animation: slideInFromRight 1s forwards;
}

/* Apply combined animation for expanding and fading out */
.logo-expand-fade-out {
  animation: expandFadeOut 1.5s forwards;
}

.text-expand-fade-out {
  animation: expandFadeOut 1.5s forwards;
}
