@keyframes zoomOut {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-right-color: black;
  }
  49% {
    border-right-color: black;
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: transparent;
  }
}

.logo-animation {
  animation: zoomOut 1s forwards;
}

.text-fade-in {
  animation: fadeIn 1s forwards;
  animation-delay: 1s; /* start fade-in after logo zoom out */
}

.typing-effect {
  width: 15ch; /* Adjust the width according to your text length */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typing 3s steps(30), blink 0.75s step-end infinite;
  animation-delay: 2s; /* Delay to start after the text fades in */
}

.fade-out {
  animation: fadeOut 1s forwards;
  animation-delay: 5s; 
}

.fade{
  color: transparent;
}
